In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
f=open(r'./data/lianjia1.csv',encoding='gbk')
data=pd.read_csv(f)

In [3]:
data.head()

,cjtaoshu,mendian,cjzongjia,zhiwei,haoping,cjdanjia,cjxiaoqu,xingming,cjzhouqi,biaoqian,cjlouceng,cjshijian,congyenianxian,bankuai
0,37,红莲北里店,251.0,店经理,97% 141,43997元/平,红莲北里 3室1厅 57平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-05-24,4-5年,马连道
1,37,红莲北里店,159.0,店经理,97% 141,36969元/平,红莲南里 1室1厅 43平,郭海龙,36,房东信赖;销售达人;带看活跃,南/高楼层/7层,签约时间：2015-05-10,4-5年,马连道
2,37,红莲北里店,257.0,店经理,97% 141,39046元/平,常青藤嘉园 1室1厅 65平,郭海龙,36,房东信赖;销售达人;带看活跃,北/低楼层/16层,签约时间：2015-04-26,4-5年,马连道
3,37,红莲北里店,243.0,店经理,97% 141,41313元/平,红莲北里 2室1厅 58平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-04-04,4-5年,马连道
4,37,红莲北里店,372.5,店经理,97% 141,42053元/平,广安门外大街 3室1厅 88平,郭海龙,36,房东信赖;销售达人;带看活跃,东 南 西 北/中楼层/18层,签约时间：2015-04-01,4-5年,马连道

In [6]:
data_list1=[]
for i in range(1,8):
    dataPath = './data/lianjia'+str(i)+'.csv'
    f=open(dataPath, encoding='gbk', errors='ignore')
    data=pd.read_csv(f)
    data_list1.append(data)

In [8]:
data_list=[]
for i in range(1,8):
    try:
        f=open(r'./data/lianjia{}.csv'.format(i),encoding='gbk')
        data=pd.read_csv(f)
    except:
        f=open(r'./data/lianjia{}.csv'.format(i),encoding='utf-8')
        data=pd.read_csv(f)
    data_list.append(data)

In [9]:
len(data_list)

7

In [10]:
data_list[2].tail()

,cjtaoshu,mendian,cjzongjia,zhiwei,haoping,cjdanjia,cjxiaoqu,xingming,cjzhouqi,biaoqian,cjlouceng,cjshijian,congyenianxian,bankuai
24491,22,今日家园店,296.0,店经理,87% 73,33248元/平,京铁家园 2室1厅 89平,李明云,59,房东信赖;销售达人;带看活跃,南/高楼层/22层,签约时间：2013-03-03,5年以上,五棵松
24492,22,今日家园店,280.0,店经理,87% 73,25924元/平,今日家园 3室1厅 108平,李明云,59,房东信赖;销售达人;带看活跃,南/低楼层/18层,签约时间：2012-11-27,5年以上,五棵松
24493,22,今日家园店,267.0,店经理,87% 73,25345元/平,今日家园 2室2厅 105平,李明云,59,房东信赖;销售达人;带看活跃,西/高楼层/24层,签约时间：2012-08-27,5年以上,五棵松
24494,22,今日家园店,285.0,店经理,87% 73,23828元/平,今日家园 3室1厅 119平,李明云,59,房东信赖;销售达人;带看活跃,东 北/中楼层/24层,签约时间：2012-08-14,5年以上,五棵松
24495,22,今日家园店,232.0,店经理,87% 73,23205元/平,今日家园 2室1厅 99平,李明云,59,房东信赖;销售达人;带看活跃,东 南/低楼层/24层,签约时间：2012-04-22,5年以上,五棵松

In [11]:
data=pd.concat(data_list)

In [12]:
data.describe()

            cjtaoshu      cjzongjia
count  162227.000000  162226.000000
mean       29.111923     317.481277
std        19.607250     207.472106
min         1.000000       0.000000
25%        16.000000     190.000000
50%        26.000000     266.000000
75%        38.000000     385.000000
max       186.000000    6000.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162227 entries, 0 to 6680
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cjtaoshu        162227 non-null  int64
 1   mendian         162214 non-null  object
 2   cjzongjia       162226 non-null  float64
 3   zhiwei          162226 non-null  object
 4   haoping         162226 non-null  object
 5   cjdanjia        162226 non-null  object
 6   cjxiaoqu        162226 non-null  object
 7   xingming        162226 non-null  object
 8   cjzhouqi        162226 non-null  object
 9   biaoqian        145553 non-null  object
 10  cjlouceng       162226 non-null  object
 11  cjshijian       162226 non-null  object
 12  congyenianxian  162226 non-null  object
 13  bankuai         160906 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 18.6+ MB

In [14]:
data.head()

,cjtaoshu,mendian,cjzongjia,zhiwei,haoping,cjdanjia,cjxiaoqu,xingming,cjzhouqi,biaoqian,cjlouceng,cjshijian,congyenianxian,bankuai
0,37,红莲北里店,251.0,店经理,97% 141,43997元/平,红莲北里 3室1厅 57平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-05-24,4-5年,马连道
1,37,红莲北里店,159.0,店经理,97% 141,36969元/平,红莲南里 1室1厅 43平,郭海龙,36,房东信赖;销售达人;带看活跃,南/高楼层/7层,签约时间：2015-05-10,4-5年,马连道
2,37,红莲北里店,257.0,店经理,97% 141,39046元/平,常青藤嘉园 1室1厅 65平,郭海龙,36,房东信赖;销售达人;带看活跃,北/低楼层/16层,签约时间：2015-04-26,4-5年,马连道
3,37,红莲北里店,243.0,店经理,97% 141,41313元/平,红莲北里 2室1厅 58平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-04-04,4-5年,马连道
4,37,红莲北里店,372.5,店经理,97% 141,42053元/平,广安门外大街 3室1厅 88平,郭海龙,36,房东信赖;销售达人;带看活跃,东 南 西 北/中楼层/18层,签约时间：2015-04-01,4-5年,马连道

In [15]:
data=data[['cjdanjia','cjxiaoqu','cjlouceng','bankuai','xingming','cjzongjia','congyenianxian','cjshijian','mendian','zhiwei']]

In [16]:
data.head(3)

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian,cjshijian,mendian,zhiwei
0,43997元/平,红莲北里 3室1厅 57平,南 北/高楼层/6层,马连道,郭海龙,251.0,4-5年,签约时间：2015-05-24,红莲北里店,店经理
1,36969元/平,红莲南里 1室1厅 43平,南/高楼层/7层,马连道,郭海龙,159.0,4-5年,签约时间：2015-05-10,红莲北里店,店经理
2,39046元/平,常青藤嘉园 1室1厅 65平,北/低楼层/16层,马连道,郭海龙,257.0,4-5年,签约时间：2015-04-26,红莲北里店,店经理

In [ ]:
# 数据预处理之前，考虑这个dataframe有没有null值缺失值，有没有异常值，否则直接用一个函数处理会报错。

In [17]:
data.isnull()

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian,cjshijian,mendian,zhiwei
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
6676,False,False,False,True,False,False,False,False,False,False
6677,False,False,False,False,False,False,False,False,False,False
6678,False,False,False,False,False,False,False,False,False,False
6679,False,False,False,False,False,False,False,False,False,False
6680,False,False,False,False,False,False,False,False,False,False

In [18]:
(data.isnull()).sum()

cjdanjia             1
cjxiaoqu             1
cjlouceng            1
bankuai           1321
xingming             1
cjzongjia            1
congyenianxian       1
cjshijian            1
mendian             13
zhiwei               1
dtype: int64

In [19]:
data[data.cjdanjia.isnull()]

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian,cjshijian,mendian,zhiwei
57119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data.dropna(how='all',inplace=True)

In [21]:
data.isnull().sum()

cjdanjia             0
cjxiaoqu             0
cjlouceng            0
bankuai           1320
xingming             0
cjzongjia            0
congyenianxian       0
cjshijian            0
mendian             12
zhiwei               0
dtype: int64

In [22]:
(data.duplicated()).sum()

17123

### data.drop_duplicates()  的作用是直接抛弃重复值。
### 但是要考虑到板块的数据有很多缺失值，因为drop_duplicates是默认抛弃第二条重复的值
### 若两条数据，前面的cjdnajia，cjxiaoqu，cilouceng是重复的，但是第一条的bankuai为null值，第二条是有数据的，则会默认抛弃第二条有效信息
### 为了避免这种情况，我们要把null值的那条全部放到后面去。

In [23]:
(data.duplicated(subset=['cjdanjia','cjxiaoqu','cjlouceng','bankuai'])).sum()

19887

In [24]:
data.sort_values(by='bankuai',inplace=True)

In [25]:
data.drop_duplicates(subset=['cjdanjia','cjxiaoqu','cjlouceng'],inplace=True)

In [26]:
#数据类型转换，数据异常值处理，数据离散化处理

In [27]:
data.head()

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian,cjshijian,mendian,zhiwei
18111,34464元/平,麦子店街 2室1厅 52平,南 北/低楼层/6层,CBD,王海涛,182.0,5年以上,签约时间：2015-10-17,阳光100店,高级经纪人
38119,53131元/平,合生国际花园 2室2厅 104平,南/中楼层/18层,CBD,李铁岗,555.0,4-5年,签约时间：2013-09-02,龙吟半岛店,店经理
38118,55312元/平,富力城B区 3室2厅 148平,东 南/中楼层/12层,CBD,李铁岗,820.0,4-5年,签约时间：2013-10-24,龙吟半岛店,店经理
38117,66485元/平,富力城D区 3室2厅 200平,南 北/低楼层/14层,CBD,李铁岗,1335.0,4-5年,签约时间：2014-01-05,龙吟半岛店,店经理
38116,55738元/平,合生国际花园 2室2厅 103平,南/低楼层/18层,CBD,李铁岗,578.0,4-5年,签约时间：2014-04-26,龙吟半岛店,店经理

In [28]:
(~data.cjdanjia.str.contains('元/平')).sum()

0

In [29]:
data.cjdanjia.map(lambda x:round(float(x.replace('元/平',''))/10000,2))

18111    3.45
38119    5.31
38118    5.53
38117    6.65
38116    5.57
         ...
6672     2.61
6673     1.85
6674     1.57
6675     1.49
6676     1.25
Name: cjdanjia, Length: 142214, dtype: float64

In [30]:
data.cjdanjia.str.replace('元/平','').astype(np.float32).map(lambda x:round(x/10000,2))

18111    3.45
38119    5.31
38118    5.53
38117    6.65
38116    5.57
         ...
6672     2.61
6673     1.85
6674     1.57
6675     1.49
6676     1.25
Name: cjdanjia, Length: 142214, dtype: float64

In [32]:
data=data.assign(cjdanjia=data.cjdanjia.str.replace('元/平','').astype(np.float32).map(lambda x:round(x/10000,2)))

In [35]:
data['cjdanjia']=data.cjdanjia.str.replace('元/平','').astype(np.float32).map(lambda x:round(x/10000,2))

AttributeError: Can only use .str accessor with string values!

In [ ]:
data.head()

In [ ]:
data.cjdanjia.min()

In [ ]:
data.cjdanjia.max()

In [ ]:
data=data[data.cjdanjia>0]

In [ ]:
data.cjdanjia.min()

In [ ]:
data=data[data.cjdanjia>0.5]

In [ ]:
data.cjdanjia.min()

In [ ]:
len(data)

In [ ]:
bins=[0,1,2,3,4,5,7,9,11,13,15]
pd.cut(data.cjdanjia,bins)

In [ ]:
pd.cut(data.cjdanjia,bins).value_counts()

In [ ]:
pd.cut(data.cjdanjia,bins).value_counts().plot()

In [ ]:
pd.cut(data.cjdanjia,bins).value_counts().plot.bar(rot=20)

In [ ]:
pd.cut(data.cjdanjia,bins).value_counts().plot.pie(figsize=(8,8))

# 字符串处理

In [ ]:
data.head()

In [ ]:
(data.cjlouceng.str.split('/').map(len)!=3).sum()

In [ ]:
data.cjlouceng

In [ ]:
data.cjlouceng.map(lambda x:x.split('/')[0])

In [ ]:
data['chaoxiang']=data.cjlouceng.map(lambda x:x.split('/')[0])

In [ ]:
data

In [ ]:
data['louceng']=data.cjlouceng.map(lambda x:x.split('/')[1])

In [ ]:
data

In [ ]:
data.louceng.unique()

In [ ]:
#还有未知？还有空字符串？对于这部分数据我们可以处理一下。

In [ ]:
data[data.louceng=='']

In [ ]:
data[data.louceng=='未知']

In [ ]:
data=data[(data.louceng!='未知')&(data.louceng!='')]

In [ ]:
data

In [ ]:
pd.get_dummies(data.louceng)

In [ ]:
data.join(pd.get_dummies(data.louceng))

In [ ]:
data

In [ ]:
pd.get_dummies(data.louceng).sum()

In [ ]:
pd.get_dummies(data.louceng).sum().plot.bar()

In [ ]:
(pd.get_dummies(data.louceng).sum()).to_csv('loucengfenbu3.csv',encoding='utf_8_sig')

# 分组运算与布尔过滤与透视表

In [ ]:
data.head()

In [ ]:
data['cjshijian']=data.cjshijian.map(lambda x:x.split('：')[1])

In [ ]:
data['year']=data.cjshijian.map(lambda x:x.split('-')[0])

In [ ]:
data.groupby(['year','xingming'])['xingming'].value_counts()

In [ ]:
data.groupby(['year','xingming'])['xingming'].count()

In [ ]:
data.groupby(['year','xingming'])['xingming'].count().to_csv('butongnianfenjingjiren.csv',encoding='utf_8_sig')

In [ ]:
data.groupby(['year','mendian'])['mendian'].count()

In [ ]:
data_group=data.groupby(['xingming','congyenianxian'])['cjzongjia'].sum()

In [ ]:
data_group[data_group>10000]

In [ ]:
data_group[data_group>10000].plot()

In [ ]:
data_1w=data.pivot_table('cjzongjia',index='xingming',columns='congyenianxian',aggfunc=sum)
data_1w

In [ ]:
(data_1w>10000).sum()

In [ ]:
plt.rcParams['font.sans-serif']=['SimHei']  #用来显示中文标签
(data_1w>10000).sum().plot.bar()

In [ ]:
plt.rcParams['font.sans-serif']=['simhei']  #用来显示中文标签

In [ ]:
(data_1w>10000).sum().plot.bar()

In [ ]:
import matplotlib
matplotlib.matplotlib_fname()

In [ ]:
((data_1w>10000).sum()).to_csv('nianxianfenbu1.csv',encoding='utf_8_sig')

# 自己的分析

In [ ]:
data.head()

In [ ]:
data.head()

In [ ]:
data.groupby('year')['cjdanjia'].count()

In [ ]:
data.groupby('year')['cjdanjia'].count().to_csv('chengjiaoliang_year.csv',encoding='utf_8_sig')

In [ ]:
data.groupby('year')['cjdanjia'].mean()

In [ ]:
(data.groupby('year')['cjdanjia'].mean()).to_csv('danjiajunzhi_year.csv',encoding='utf_8_sig')

In [ ]:
data.groupby('year')['cjzongjia'].mean()

In [ ]:
(data.groupby('year')['cjzongjia'].mean()).to_csv('chengjiaozongjia_year.csv',encoding='utf_8_sig')

In [ ]:
data.groupby('bankuai')['cjdanjia'].count()

In [ ]:
(data.groupby('bankuai')['cjdanjia'].count()).to_csv('butongbankuaichengjiao.csv',encoding='utf_8_sig')

In [ ]:
bins=[0,2,4,6,8,12,15]
fenbu=pd.cut(data['cjdanjia'],bins)

In [ ]:
data['cjdanjiafenbu']=fenbu

In [ ]:
data.groupby(['bankuai','cjdanjiafenbu'])['cjdanjiafenbu'].count()

In [ ]:
(data.groupby(['bankuai','cjdanjiafenbu'])['cjdanjiafenbu'].count()).to_csv('cjdanjiafenbu.csv',encoding='utf_8_sig')

In [ ]:
data.groupby(['year','mendian'])['mendian'].count()

In [ ]:
(data.groupby(['year','mendian'])['mendian'].count()).to_csv('butongnianxianmendian.csv',encoding='utf_8_sig')

In [ ]:
data.groupby('zhiwei')['zhiwei'].count()

In [ ]:
(data.groupby('zhiwei')['zhiwei'].count()).to_csv('zhiwei.csv',encoding='utf_8_sig')

In [ ]:
bins=[0,2,4,6,8,12,15]
fenbu=pd.cut(data['cjdanjia'],bins)
data.groupby(['year','cjdanjiafenbu'])['cjdanjiafenbu'].count()

In [31]:
(data.groupby(['year','cjdanjiafenbu'])['cjdanjiafenbu'].count()).to_csv('xiaofeizhejiage.csv',encoding='utf_8_sig')

KeyError: 'year'